body {
  background-color: #F9FAFB
}

.parent-container {
  padding: 0px;
}

.filters {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-item {
  min-width: 100%;
}

.table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --cell-text-color: #303030;
}

.table tbody tr {
  background-color: white;
}

.table tbody td {
  padding: 12px 15px;
}

.table td {
  color: var(--cell-text-color);
  font-size: 12px;
}

.author-info-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-name-and-id {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author-name {
  font-weight: 500;
  color: #1f2937;
  font-size: 14px;
}

.author-id {
  color: #6B7280;
  font-size: 12px;
}

.author-country {
  font-weight: 500;
  color: #1f2937;
  font-size: 14px;
}

.author-date-of-birth {
  font-weight: 500;
  color: #1f2937;
  font-size: 14px;
}

.author-book-count {
  font-weight: 500;
  color: #1f2937;
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 10px;
}

.action-button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-button:hover {
  background-color: #c8d3fa;
}

.edit-button:hover {
  background-color: #dcfce7;
}

.delete-button:hover {
  background-color: #f7c4c4;
}

.view-icon {
  color: #4F46E5;
  width: 16px !important;
  height: 16px !important;
}

.edit-icon {
  color: #16A34A;
  width: 16px !important;
  height: 16px !important;
}

.delete-icon {
  color: #EF4444;
  width: 16px !important;
  height: 16px !important;
}

.small-button {
  font-size: 11px !important;
  padding: 4px 13px !important;
  height: 28px !important;
  min-height: 28px !important;
  line-height: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.event-table-id-cell {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media screen and (min-width: 600px) {
  .top-bar-action-text {
    display: block;
  }

  .filters {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .filter-item {
    min-width: 49%;
    max-width: 49%;
  }
}

@media screen and (min-width: 1200px) {
  .filter-item {
    min-width: 24%;
    max-width: 24%;
  }
}